body{
    background-color: blueviolet;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    text-align: center;
    color: rgb(63, 61, 61);
}

.container{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}